{% extends 'base.html' %}
{% block title %}My Receipts{% endblock %}
{% block content %}
<div class="receipt_list_container">
        <h1 class="h3">My Receipts</h1>
        <ul id="my_receipt_list" class="receipts">
            {% for receipt in receipts %}
                <li class="my_receipt_item item d-flex flex-row justify-content-between">
                    <span class="item_list">{{ receipt.item_list|truncatechars:25  }}</span>
                    <span class="total_amount">${{ receipt.total_amount }}</span>
                </li>
            {% endfor %}  
        </ul>
</div>

{% endblock %}