a{
    cursor: pointer;
    color: #ff8c3a;
}


nav{
    box-shadow: 1px 1px 1px #cecece;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background: initial;
    color: initial;
}

#content{
    padding-top: 20px;
}
#content .h3 button {
    margin-right: 10px;
}

#content .h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-default {
    border: none;
    background-color: #dde2e7;
    background-image: linear-gradient(#dde2e7,#dde2e7);
    color: #444;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a {
    background: none;
    box-shadow: none;
    color: black;
    font-weight: bold;
}

.navbar.navbar-fixed-top {
    background: none;
    box-shadow: none;
    border-bottom: none;
    padding-top: 10px;
    background-color: white;
}

ul.receipts , ul.receipt_detail{
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.receipts li, ul.receipt_detai li{
    max-width: 400px;
}
  ul.receipts > li > a,
  ul.receipt_detail  > li > a {
    margin-bottom: 15px;
    display: flex;
    color: initial;
    text-decoration: initial;
}
  ul.receipts > li > a > i,
  ul.receipt_detail > li > a {
    padding: 7px 10px 0;
}
  ul.receipts > li a:hover,
  ul.receipt_detail > li:hover {
    color: orange;
    cursor: pointer;
}

.item {
    padding: 5px 5px 5px;
    flex: 1;
}
.item h5 {
    margin-top: 0;
    margin-bottom: 5px;
}

p{
    margin: 5px 0;
}
p > i {
    width: 30px;
    text-align: center;
}

.form-wrapper {
    max-width: 400px;
}
.form-inline {
    font-size: 0;
}
.form-inline .form-group {
    width: 50%;
}
.form-inline .form-control {
    width: 100%;
}
.subtitle {
    opacity: 0.5;
}

.receipt_header {
    padding-bottom: 40px;
    border-bottom: 1px dashed #000;
    text-align: center;
}

.receipt_header h1 {
    font-size: 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.receipt_header h1 span {
    display: block;
    font-size: 25px;
}

.receipt_header h2 {
    font-size: 14px;
    color: #727070;
    font-weight: 300;
}

.receipt_header h2 span {
    display: block;
}

.receipt_detail_container{
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ccc;
    padding: 32px;
    box-shadow: 1px 1px 1px #ccc;
}

.receipt_detail_container .receipt_body > * {
   margin-top: 15px;
}