{% extends 'base.html' %}
{% block title %}New Receipt{% endblock %}
{% block content %}
<div class="form-wrapper">
    <h1 class="h3">Register</h1>
    <form method="POST" class="form">{% csrf_token %}

        <!-- Username Form Group -->
        <div class="form-group">
            <label for="store_name">Username</label>
            <input 
                type='text' class="form-control" id="username" 
                name="username" required autofocus
                {% if form.is_bound %}value="{{ form.username.value }}"{% endif %}
            />
            {% for err in form.username.errors %}
            <small class="text-danger ml-2">{{ err }}</small><br>
            {% endfor %}
        </div>

       <!-- Password Form Group -->
       <div class="form-group">
            <label for="store_name">Password</label>
            <input 
                type='password' class="form-control" id="password1" 
                name="password1" required autofocus
                {% if form.is_bound %}value="{{ form.password1.value }}"{% endif %}
            />
            {% for err in form.password1.errors %}
            <small class="text-danger ml-2">{{ err }}</small><br>
            {% endfor %}
        </div>

        <!-- Password2 Form Group -->
       <div class="form-group">
        <label for="store_name">Password Confirm</label>
        <input 
            type='password' class="form-control" id="password2" 
            name="password2" required autofocus
            {% if form.is_bound %}value="{{ form.password2.value }}"{% endif %}
        />
        {% for err in form.password2.errors %}
        <small class="text-danger ml-2">{{ err }}</small><br>
        {% endfor %}
    </div>


        
      
        <input id="submit_btn" type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
    </form>
</div>
{% endblock %}
